<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body class="background">
<div class="register-form">
    <h1>Formulario de Registro</h1>
    <form action="register" method="post">
        <label for=user"">User</label>
        <input type="text" name="user" required>

        <label for=user"">Full Name</label>
        <input type="text" name="name" required>

        <label for="rol">Rol</label>
        <select name="rol" id="rol" class="select-css">
            <option value="admin" selected>Admin</option>
            <option value="data entry">Data Entry</option>
        </select>

        <label for="pass">Password</label>
        <input type="password" name="pass" required>

        <div style="display: inline;">
            <a href="/login" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
        </div>
    </form>

</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if(typeof alert != "undefined") { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer:<%= timer %>
      }).then(() => {
        window.location='/<%= ruta %>'
      })
    </script>
<% } %>

</body>
</html>
